<div class="link-list">
  <mat-icon class="link-icon">link</mat-icon>
  <div class="link-container">
    <ng-container *ngFor="let link of getProcessedLinks(); let isLast = last; let i = index">
      <div class="link-item">
        <!-- View Mode -->
        <a
          *ngIf="!isEditMode"
          [href]="link"
          target="_blank"
        >
          {{ link }}
        </a>
        <span *ngIf="!isEditMode && !isLast">,</span>

        <!-- Edit Mode -->
        <input
          *ngIf="isEditMode"
          type="text"
          [(ngModel)]="links[i]"
        />
        <button
          *ngIf="isEditMode"
          type="button"
          (click)="removeLink(i)"
        >
          ×
        </button>
      </div>
    </ng-container>

    <!-- Input for adding new links -->
    <input
      *ngIf="isAddingLink"
      type="text"
      [(ngModel)]="newLink"
      (keydown.enter)="addLink()"
      (blur)="stopAddingLink()"
      placeholder="Add a new link"
      class="link-input"
    />

    <button
      *ngIf="isEditMode && !isAddingLink"
      type="button"
      (click)="startAddingLink()"
      class="add-link-btn"
    >
      +
    </button>
  </div>
</div>
