@import '../../../styles';

.avatar-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;

  &.extra-small {
    width: 24px;
    height: 24px;
    font-size: 10px;
  }

  &.small {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  &.medium {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }

  &.big {
    width: 80px;
    height: 80px;
  }

  &.extra-large {
    width: 200px;
    height: 200px;
    font-size: 90px;
  }

  &.upload-mode {
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      filter: brightness(90%);
    }

    .upload-overlay {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // background-color: rgba(221, 221, 221, 0.5);
      opacity: 0.9;
      color: var(--t-c-white);
      border-radius: 50%;
      pointer-events: none; // Чтобы клики проходили через overlay
    }

    .upload-icon {
      font-size: 24px;
      background-color: rgb(173, 173, 173);
      border-radius: 50%;
      padding: 18px 20px 20px 18px;
    }
  }
}

.avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--t-c-accent);
  color: var(--t-c-white);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.skeleton-loader {
  width: 100%;
  height: 100%;
  background-color: var(--skeleton-base);
  border-radius: 50%;
  animation: skeleton-loading 0.5s linear infinite alternate;
}

.avatar-label {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--t-c-white);
  font-size: 24px;
  border-radius: 8px;
  white-space: nowrap;
  text-align: center;
}

.label-extra-small {
  font-size: 12px;
}

.label-small {
  font-size: 18px;
}

.label-medium {
  font-size: 12px;
}

.label-big {
  font-size: 28px;
}

.label-extra-large {
  font-size: 32px;
}

.hidden-file-input {
  display: none;
}
