:root {
  --cp-test: #e6aa13;
  --cp-primary-accent: #d0103a;
  --cp-primary-default-text: rgba(0, 0, 0, 0.87);
  --cp-second-default-background: #3a4556;
  --cp-second-default-backgroun-darker: #242a33;
  --cp-on-primary-darker: white;
  --cp-fg-secondary-text: rgba(255, 255, 255, 0.7);
  --cp-bg-hover: rgba(255, 255, 255, 0.04);
  --cp-fg-divider: rgba(255, 255, 255, 0.12);
}
