<div class="tags-container">
  <div
    class="tag"
    *ngFor="let tag of tags; let i = index"
  >
    <span>{{ tag }}</span>
    <button
      type="button"
      (click)="removeTag(i)"
      *ngIf="isEditMode"
    >
      ×
    </button>
  </div>

  <input
    *ngIf="isAddingTag"
    type="text"
    [(ngModel)]="newTag"
    (keydown.enter)="addTag()"
    (blur)="stopAddingTag()"
    [placeholder]="'BOT.PANEL.FIELD.PLACEHOLDER.ADD_TAG' | translate"
    class="tag-input"
  />

  <button
    type="button"
    (click)="startAddingTag()"
    class="add-tag-btn"
    *ngIf="isEditMode"
  >
    +
  </button>
</div>
