<div
  class="avatar-container {{ size }}"
  [ngClass]="{ 'upload-mode': isInUploadMode, }"
  (click)="handleClick()"
>
  <div
    *ngIf="!group"
    class="skeleton-loader"
  ></div>
  <img
    *ngIf="group != null && group.image"
    [src]="group.image"
    [alt]="group.name + ' ' + ('COMMON.AVATAR' | translate)"
    class="avatar-image"
  />
  <div
    *ngIf="group != null && !group.image"
    class="avatar-initials"
  >
    {{ group.name | initials }}
  </div>
  <div
    *ngIf="isInUploadMode"
    class="upload-overlay"
  >
    <mat-icon class="upload-icon">add_a_photo</mat-icon>
  </div>
  <div
    *ngIf="label"
    class="avatar-label"
  >
    {{ label }}
  </div>
  <input
    #fileInput
    accept="image/png, image/jpeg"
    type="file"
    class="hidden-file-input"
    (change)="onFileSelected($event)"
  />
</div>
