<div class="container">
  <span class="header">{{
    (isCreateMode ? 'FEED.POST.EDIT.HEADER.CREATE' : 'FEED.POST.EDIT.HEADER.UPDATE') | translate
  }}</span>

  <form
    #form="ngForm"
    class="form"
    name="form"
    autocomplete="off"
    (ngSubmit)="(form.form.valid)"
  >
    <div class="row">
      <synchro-text-edit-control
        [(value)]="event.title"
        [config]="config.title"
        [schema]="schema.title"
        class="control"
      ></synchro-text-edit-control>

      <synchro-text-edit-control
        [(value)]="event.description"
        [config]="config.description"
        [schema]="schema.description"
        class="control"
      ></synchro-text-edit-control>
    </div>

    <div class="row">
      <synchro-date-edit-control
        [(value)]="event.startDateTime"
        [config]="config.startDateTime"
        [schema]="schema.startDateTime"
        placeholder="{{ 'HISTORY.DATE_PLACEHOLDER' | translate }}"
        class="date"
      ></synchro-date-edit-control>
    </div>

    <div class="content">
      <quill-editor
        [(ngModel)]="event.content"
        [modules]="quillConfig.modules!"
        [placeholder]="quillConfig.placeholder!"
        [readOnly]="quillConfig.readOnly!"
        [format]="quillConfig.format!"
        class="editor"
        name="content"
      ></quill-editor>
    </div>

    <div class="links">
      <synchro-link-list
        [links]="event.links ?? []"
        [isEditMode]="true"
        (refreshLinks)="event.links = $event"
      ></synchro-link-list>
    </div>

    <div class="actions">
      <button
        class="cancel-btn"
        (click)="cancel()"
      >
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button
        class="save-btn"
        (click)="save()"
        [disabled]="isBusy || form.invalid"
      >
        {{ (isCreateMode ? 'COMMON.CREATE' : 'COMMON.UPDATE') | translate }}
      </button>
    </div>
  </form>
</div>
