$size: 0;

.loader {
  box-sizing: border-box;
  display: flex;
  width: var(--size);
  height: var(--size);
  margin: auto;
  border: 2px solid #ccc;
  border-top-color: var(--t-c-accent);
  border-radius: 50%;
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.dark-mode-loader {
  border-color: #88a9c366;
  border-top-color: white;
}

@media (prefers-color-scheme: dark) {
  .loader {
    border-color: #88a9c366;
    border-top-color: white;
  }
}
