<div class="container">
  @if (!isEditMode) {

  <div class="search-container">
    <form
      #form="ngForm"
      class="search"
      (ngSubmit)="form.form.valid && search()"
    >
      <synchro-text-edit-control
        [config]="config.searchInput"
        [schema]="schema.searchInput"
        [(value)]="queryFilters.searchInput"
        class="search-input"
      ></synchro-text-edit-control>

      <button
        type="submit"
        class="search-button"
        mat-flat-button
      >
        <span>{{ 'COMMON.SEARCH' | translate }}</span>
        <mat-icon class="search-button-icon">search</mat-icon>
      </button>

      <button
        class="search-button"
        mat-flat-button
        (click)="createPost()"
      >
        <span>{{ 'FEED.SEARCH.BUTTON.LABEL' | translate }}</span>
        <mat-icon class="search-button-icon">arrow_right</mat-icon>
      </button>
    </form>
    @if (webContents.length) {
    <div class="total-results">{{ 'FEED.SEARCH.RESULT.NUMBER' | translate }}: {{ totalCount }}</div>
    }
  </div>

  <div class="search-results">
    @for (webContent of webContents; track $index) {
    <synchro-post-view
      [post]="webContent"
      [hasActions]="true"
      (refreshPostsList)="refreshPostsList()"
      (switchEditMode)="editPost($event)"
    ></synchro-post-view>
    } @empty {
    <synchro-empty-list [imageName]="'newspaper.png'"></synchro-empty-list>
    }
  </div>
  } @else {
  <synchro-post-edit
    [post]="currentPost"
    [isCreateMode]="isCreateMode"
    (refreshPostList)="refreshPostsList()"
  ></synchro-post-edit>
  }
</div>
